<!DOCTYPE html>
<html>
  <head>
    <title>Media App</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <h1>Welcome to the Media App</h1>
      <nav>
        <ul>
          <li><a href="/audio">Audio</a></li>
          <li><a href="/video">Video</a></li>
        </ul>
      </nav>
    </header>


  </body>
</html>
